.form {
    width: 100%;

    & input[type=text],input[type=email], select, textarea {
        width: 100%;
        padding: 6px;
        border: 2px solid var(--textNormal);
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 3px;
        margin-bottom: 16px;
        resize: vertical;
        background-color: var(--bg);
        color: var(--textNormal);
    }

    & button[type=submit] {
        background-color: var(--textNormal);
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
   }
}