.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  padding-bottom: 10vh;
  place-items: center;

  @media (max-width: 768px){
    grid-template-columns: 1fr;

    & img{
      width: 80%;
    }
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem;
  margin: 0;
  white-space: nowrap;

  > li{
    list-style: none;
  }
}