.item-link {
    margin: 1rem 1rem 1rem 0;
    border: 2px solid var(--textNormal);
    border-radius: 8px;
    padding: .3rem .8rem;
    text-decoration: none;
}

.thumbnail {
    margin-bottom: 1rem;
}

.description {
    margin: 1rem 0;
}
