.items {
    list-style: none;
    margin: 0;

}

.item {
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--textNormal);
    margin-bottom: 2rem;

    &:last-child {
        border-bottom: none;
    }
}
